<div *ngIf="getData()">
  <canvas>
    <three-area >
      <renderer>
        <scene>
            <perspective-camera>
                <camera-orbit-control></camera-orbit-control>
            </perspective-camera>

            <!--<group-3d>-->
                <!--<box-control id="{{getData()['Guest']['LastName']}}"></box-control>-->
            <!--</group-3d>-->
            <cube-control>
                <bind-item key="Title" value="{{getData()['Title']}}"></bind-item>
                <bind-object name="Transform">
                    <bind-object name="Position">
                        <bind-item key="X" value="0"></bind-item>
                        <bind-item key="Y" value="0"></bind-item>
                        <bind-item key="Z" value="0"></bind-item>
                    </bind-object>
                    <bind-object name="Size">
                        <bind-item key="X" value="1"></bind-item>
                        <bind-item key="Y" value="0.15"></bind-item>
                        <bind-item key="Z" value="1"></bind-item>
                    </bind-object>
                </bind-object>
                <bind-object name="CubeParts">
                    <bind-item key="Title" value="{{getData()['CubeParts']['Title']}}"></bind-item>
                    <bind-object *ngFor="let cubePart of getData()['CubeParts']['Parts']" name="CubePart">
                      <bind-item key="Title" value="{{cubePart['Title']}}"></bind-item>
                      <bind-item key="Name" value="{{cubePart['Name']}}"></bind-item>
                      <bind-item key="Value" value="{{cubePart['Value']}}"></bind-item>
                      <bind-item key="Color" value="{{cubePart['Color']}}"></bind-item>
                    </bind-object>
                </bind-object>
                <bind-object name="CubeRates">
                    <bind-item key="Title" value="{{getData()['CubeRates']['Title']}}"></bind-item>
                    <bind-object *ngFor="let cubeRate of getData()['CubeRates']['Rates']" name="CubeRate">
                      <bind-item key="Title" value="{{cubeRate['Title']}}"></bind-item>
                      <bind-item key="Color" value="{{cubeRate['Color']}}"></bind-item>
                      <bind-item key="Percent" value="{{cubeRate['Percent']}}"></bind-item>
                      <bind-item key="PercentText" value="{{cubeRate['PercentText']}}"></bind-item>
                      <bind-item key="Value" value="{{cubeRate['Value']}}"></bind-item>
                    </bind-object>
                </bind-object>
            </cube-control>
            <hemisphere-light></hemisphere-light>
            <direct-light></direct-light>
        </scene>
      </renderer>
    </three-area>
  </canvas>
</div>
