<div  >
  <a href="http://www.idvp.net/" id="idvp-logo">
    <img src="assets/idvp-logo.png">
  </a>
  <div id="explanation">
    <div>Visualise your data sources with</div>
    <div>Simple or any kind of</div>
    <div>No complexity limitation</div>
    <div>Interactive components</div>
    <div>In 3D space</div>
    <div>Powered by latest Angular CLI and Three.js</div>
    <div><a href="https://github.com/sergsar/ng-three-gl">https://github.com/sergsar/ng-three-gl</a></div>
  </div>
  <canvas></canvas>
  <three-canvas-controller [width]="Width" [height]="Height">
    <three-renderer [width]="Width" [height]="Height">
      <three-scene [backgroundColor]="'0 0 0'" #owner>
        <three-grid-helper [parent]="owner['scene']" [visible]="true"></three-grid-helper>
        <three-perspective-camera #controllable>
          <three-orbit-controller
            [controllable]="controllable['object']"
          ></three-orbit-controller>
        </three-perspective-camera>
        <three-hemisphere-light></three-hemisphere-light>
        <three-direct-light></three-direct-light>
        <three-cube></three-cube>
      </three-scene>
    </three-renderer>
  </three-canvas-controller>
</div>
