

canvas {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  z-index: 1;
}
a {
  color: white;
}
#idvp-logo {
  position: absolute;
  top: 35px;
  left: 35px;
  z-index: 20;
}

#explanation {
  position: absolute;
  bottom: 35px;
  left: 35px;
  z-index: 20;
  color: white;
}
